<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment value="pizza" [value]="selectedCategory"
  (ionChange)="segmentChanged($event)"
  mode="md"
  scrollable="true">
  
    <ion-segment-button *ngFor="let categories of categories; let i = index" [value]="categories">
      <ion-label class="ion-text-capitalize">{{ categories }} </ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <app-articles [articles]="article"></app-articles>

  
</ion-content>
